
.lines-left-stlye1{
	border-left: 6px solid #0094f7;
	padding-left: 25px;
	color:#E9ECEF;
}

.lines-right-stlye1{
	border-right: 6px solid #0094f7;
	padding-right: 25px;
	color:#E9ECEF;
}

.lines-top-stlye1{
	border-top: 6px solid #0094f7;
	padding-top: 20px;
	color:#E9ECEF;
}
.lines-bottom-stlye1{
	border-bottom: 6px solid #0094f7;
	padding-bottom: 20px;
	color:#E9ECEF;
}

.lines-left-stlye2{
	border-left: 6px solid #0094f7;
	padding-left: 25px;
	color:#E9ECEF;
}

.lines-right-stlye2{
	border-right: 6px solid #0094f7;
	padding-right: 25px;
	color:#E9ECEF;
}

.lines-top-stlye2{
	border-top: 6px solid #0094f7;
	padding-top: 20px;
	color:#E9ECEF;
}
.lines-bottom-stlye2{
	border-bottom: 6px solid #0094f7;
	padding-bottom: 20px;
	color:#E9ECEF;
}



.lines-left-stlye3{
	border-left: 6px solid #24282F;
	padding-left: 25px;
	color:#E9ECEF;
}

.lines-right-stlye3{
	border-right: 6px solid #24282F;
	padding-right: 5px;
	color:#E9ECEF;
}

.lines-top-stlye3{
	border-top: 6px solid #24282F;
	padding-top: 20px;
	color:#E9ECEF;
}
.lines-bottom-stlye3{
	border-bottom: 6px solid #24282F;
	padding-bottom: 20px;
	color:#E9ECEF;
}

.lines-left-stlye4{
	border-left: 6px solid #24282F;
	padding-left: 25px;
	color:#24282F;
}

.lines-right-stlye4{
	border-right: 6px solid #24282F;
	padding-right: 5px;
	color:#24282F;
}

.lines-top-stlye4{
	border-top: 6px solid #24282F;
	padding-top: 20px;
	color:#24282F;
}
.lines-bottom-stlye4{
	border-bottom: 6px solid #24282F;
	padding-bottom: 20px;
	color:#24282F;
}
