
.slide1{
	background-color: #1d1e22;
	background:#1d1e22;
}

.slide2{
	background-color: #24282F;
	background:#24282F;
}

.slide3{
	background-color: #0094f7;
	background:#0094f7;
	color: #000000!important;
}
.slide4{
  background-color: #32B1FF;
	background:#32B1FF;
}



.text-stlye1{
	color:#E9ECEF;
}
.text-stlye2{
	color:#E9ECEF;
}
.text-stlye3{
	color:#24282F;
}
.text-stlye4{
	color:#24282F;
}