h1,h2,h3,p{
	font-family: Helvetica;
}
h2{
	font-size: 45px;
}
h1{
	font-size: 65px;
}
p{
	font-size: 30px;
}

.table-eloszlas-2{
	width: 400px;
}
.table-eloszlas-3{
	width: 266px;
}

.img2{
	padding: 10px;
}

.shadow{
	box-shadow: 0 6px 20px 0 #0000008a;
}
.text-left{
	text-align: left; 
	padding-left: 25px;
}

table{
	width: 800px;
	padding: 10px;
	
}
body{
	margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
	background-color: #E9ECEF;
	background:#E9ECEF;
}
.light-textblock{
	background-color: #32B1FF;
	background:#32B1FF;
	padding-right: 40px; 
	padding-left: 40px;
}
.gray-textblock{
	background-color: #393f4d;
	background:#393f4d;
	padding-right: 40px; 
	padding-left: 40px;
}

.gray-textblock-sm{
	background-color: #393f4d;
	background:#393f4d;
	padding-right: 10px; 
	padding-left: 10px;
}
.light-textblock-sm{
	background-color: #32B1FF;
	background:#32B1FF;
	padding-right: 10px; 
	padding-left: 10px;
}


.gray-pelda{
	background-color: #393f4d;
	background:#393f4d;
	padding-right: 10px; 
	padding-left: 10px;
	width: 150px!important;
	height: 150px!important;
	color: #E9ECEF;
	border-radius: 100%;
}

.light-pelda{
	background-color: #32B1FF;
	background:#32B1FF;
	padding-right: 10px; 
	padding-left: 10px;
	width: 150px!important;
	height: 150px!important;
	border-radius: 100%;
}

a{
	color: rgb(0, 174, 255)!important;
  }